@page "/"

<h1>Willkommen!</h1>

Eddys IT - Königlicher Service<br /><br />

<p>
    <b>Eduard Schäfer</b> <br />
    59510 Lippetal<br />
    <br />
    Service unter <a href="mailto:service@eddys.it">service@eddys.it</a>
</p>

<SurveyPrompt Title="In Entwicklung" />
